language: node_js

node_js:
- '14'

cache:
  directories:
  - node_modules

script:
- yarn build
- yarn coveralls
- yarn lint
- yarn cs

deploy:
  provider: npm
  email: $NPM_AUTH_EMAIL
  api_key: $NPM_AUTH_TOKEN
  on:
    tags: true
    node_js: '14'
  skip_cleanup: true
