services:
  varnish:
    image: varnish:7.4
    volumes:
      - ./default.vcl:/etc/varnish/default.vcl:ro
    tmpfs:
      - /var/lib/varnish/varnishd:exec
    ports:
      - "8090:80"
    restart: unless-stopped
    depends_on:
      - node

  node:
    image: next-esi
    build:
      context: ../../
      target: esi-next
    user: node
    init: true
    # volumes:
    #   - ../../:/home/node/app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - REACT_ESI_SECRET=${REACT_ESI_SECRET:-secret}
    restart: unless-stopped
